<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>index</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <link rel='stylesheet' href='/static/stylesheets/style.css'>
</head>
<body class='homepage'>
    <header class='center'>
        <div class='spacerleft'></div>
        Math Review
        <div class='spacerright'></div>
    </header>
    <div class='logo'></div>
    <nav>
        <ul>
            <li><a href='/mathreview/subjects/Page1/'>Subjects</a></li>
            <li><a href='/mathreview/definitions/Page1/'>Definitions</a></li>
            <li><a href='/mathreview/theorems/Page1/'>Theorems</a></li>
            <li><a href='/mathreview/questions/Page1/'>Questions</a></li>
        </ul>
    </nav>
    
    <main>
        <div class='wrapper'>
        {% if question %}
        <h3 class='center top-seperate'>Question of the Moment</h3>

        <div class='center seperate'>
            Question {{ question.id  }}
        </div>
        <div>
            {{ question.question_text|safe }}
        </div>
        <div class='left'><a href='/mathreview/questions/{{ question.id  }}/'>answer</a></div>
            
        {% else %}
        <h3 class='center top-seperate'>Fermat</h3>
        
        <div class='center seperate'>
            by Jonathan P. Dowling<br>
            Mathematics Magazine 1986
        </div>
        <blockquote class='center'>
            Mssr. Fermat &mdash; what have you done?<br>
            Your simple conjecture has everyone<br>
            Churning out proofs,<br>
            Which are nothing but goofs!<br>
            Could it be that your statement'san erudite spoof?<br>
            A marginal hoax<br>
            That you've played on us folks?<br>
            But then you're really not known for your practical jokes.<br>
            Or is it then true<br>
            That you knew what to do<br>
            When \(n\) was an integer greater than two?<br>
            Oh then why can't we find<br>
            That same proof... are we blink?<br>
            You must be reproved, for I'm losing my mind.
        </blockquote>
        {% endif  %}
        </div>        
    </main>
    <footer>
        Footer
    </footer>

</body>    
</html>
