{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>Math Review</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured'> <!-- delay start until markdown is processed -->
      MathJax.Hub.Config({
        extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
        jax: ["input/TeX", "output/SVG"],
        SVG: {
          font:"STIX-web"
        },
        tex2jax: { 
          skipTags: ["script","noscript","style","textarea","pre","code"],
          inlineMath:  [ ['$','$']     ,['{$','$}']     , ['\\(','\\)'] ], 
          displayMath: [ ['$$','$$'] ,['{$$','$$}'] , ['\\[','\\]'] ],
          processEscapes: true 
        },
        TeX: {
          extensions: ["AMSmath.js", "AMSsymbols.js"],
          Macros: {
            R: "{\\mathbb{R}}",
            bold: ["{\\bf #1}",1],
            C: "{\\mathbb{C}}",
            N: "{\\mathbb{N}}",
            Z: "{\\mathbb{Z}}",
            ds: "\\displaystyle",
            textdef: ["\\textit{#1}",1],
            emph: ["\\textit{#1}",1]
          }
        }
      });
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'theorems/marked/marked.min.js' %}"></script>
    <script src="{% static 'theorems/javascripts.js' %}"></script>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/xits-math" type="text/css"/>
    <link rel='stylesheet' href='{% static "theorems/style.css" %}' />
</head>
<body class='homepage' onresize="headerfooter()">
    <div class='container-fluid'>
        <nav class='navbar navbar-inverse'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        </button>
            </div> <!--navbar-header -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                   <li class='active'><a href="{% url 'theorems:index' %}"><span class='glyphicon glyphicon-home'></span></a></li>
                   <li><a href="{% url 'theorems:subjects' %}">Subjects</a></li>
                   <li> <a href="{% url 'theorems:definitions' %}">Definitions</a></li>
                   <li> <a href="{% url 'theorems:theorems' %}">Theorems</a></li>
                   <li> <a href="{% url 'theorems:questions' page_num=1 %}">Questions</a></li>
                </ul>
            </div> <!-- navbar -->
        </nav>
        <header>
            <canvas id='header' width='200px' height='200px'>Math Review</canvas>
        </header>
        <div class='wrapper'>
            <main>
                {% if question %}
                <h3 class='center'>Question of the Moment</h3>
		<div class="panel panel-default">
		  <div class="panel-heading"><h4 class='panel-title'><span class='panel-padded'>Question {{question_num}}</span></h4></div>
                  <div class="panel-body">
		    <div class="markdown">{{question.question_text}}</div>
                    <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a class="panel-padded" data-toggle="collapse" href="#answer">Answer<span class="caret"></a>
                          </h4>
                        </div>
                        <div id="answer" class="panel-collapse collapse">
                          <div class="panel-body markdown">{{question.answer_text}}</div>
                        </div>
                      </div>
                    </div>
		  </div>
                </div>
                {% endif %}
            </main>
        </div> <!-- div.wrapper -->
        <footer>
          <canvas id="footCanvas" height="200px" width="200px"></canvas>
	  <canvas id="footCanvas2" height="200px" width="200px"></canvas>
        </footer>
    </div> <!-- div.container -->
    <div style='display:none;'>
      <img src="{% static 'theorems/images/img0.png' %}" />
      <img src="{% static 'theorems/images/img1.png' %}" />
      <img src="{% static 'theorems/images/img2.png' %}" />
      <img src="{% static 'theorems/images/img3.png' %}" />
      <img src="{% static 'theorems/images/img4.png' %}" />
      <img src="{% static 'theorems/images/img5.png' %}" />
      <img src="{% static 'theorems/images/img6.png' %}" />
      <img src="{% static 'theorems/images/img7.png' %}" />
      <img src="{% static 'theorems/images/img8.png' %}" />
      <img src="{% static 'theorems/images/img9.png' %}" />
      <img src="{% static 'theorems/images/img10.png' %}" />
      <img src="{% static 'theorems/images/img11.png' %}" />
      <img src="{% static 'theorems/images/img12.png' %}" />
      <img src="{% static 'theorems/images/img13.png' %}" />
      <img src="{% static 'theorems/images/img14.png' %}" />
    </div>
</body>    
</html>
