{% load theorems_extra %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>{% if subject_name %} {{ subject_name }} {% endif %} Definitions</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_SVG'&delayStartupUntil=configured'> <!-- delay start until markdown is processed -->
        MathJax.Hub.Config({
            extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
            jax: ["input/TeX", "output/SVG"],
            SVG: {
                     font:"STIX-web"
            },
            tex2jax: { 
                inlineMath:  [ ['$','$']     ,['{$','$}']     , ['\\(','\\)'] ], 
                displayMath: [ ['$$','$$'] ,['{$$','$$}'] , ['\\[','\\]'] ],
                processEscapes: true 
            },
            TeX: {
                extensions: ["AMSmath.js", "AMSsymbols.js"],
                Macros: {
                R: "{\\mathbb{R}}",
                bold: ["{\\bf #1}",1],
                C: "{\\mathbb{C}}",
                N: "{\\mathbb{N}}",
                Z: "{\\mathbb{Z}}",
                ds: "\\displaystyle",
                textdef: ["\\textit{#1}",1],
                emph: ["\\textit{#1}",1]
                }
            }
        });
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="{% static 'theorems/marked/marked.min.js' %}"></script>
    <script src="{% static 'theorems/javascripts.js' %}"></script>
    <link rel='stylesheet' href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"/>
    <link rel='stylesheet' href='{% static "theorems/style.css" %}' />
</head>
<body class='homepage'>
    <div class='container-fluid'>
        <nav class='navbar navbar-inverse'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        </button>
            </div> <!--navbar-header -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                   <li><a href='{% url 'theorems:index'  %}'><span class='glyphicon glyphicon-home'></span></a></li>
                   <li class='active'><a href='{% url 'theorems:subjects'  %}'>Subjects</a></li>
                   <li> <a href='{% url 'theorems:definitions'  %}'>Definitions</a></li>
                   <li> <a href='{% url 'theorems:theorems'  %}'>Theorems</a></li>
                   <li> <a href='{% url 'theorems:questions' page_num=1 %}'>Questions</a></li>
                </ul>
            </div> <!-- navbar -->
        </nav>
        <header>
            Math Review
        </header>
        <div class='wrapper'>
            <main>
              {% if subject_name %}<h3 class='center'>{{ subject_name }}</h3>{% endif %}
	      <table id="defTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
		  <tr>
		    <th>Term</th>
		    <th>Definition</th>
		    <th>Used In</th>
		  </tr>
		</thead>
		<tfoot>
		  <tr>
		    <th>Term</th>
		    <th>Definition</th>
		    <th>Used In</th>
		  </tr>
		</tfoot>
		<tbody>
                {% if definitions %}
                {% for definition in definitions %}
                  <tr>
		    <td>{{ definition.definition_name }}</td>
                    <td><button type="button" class="btn-link" data-toggle="modal" data-target="#myModal{{forloop.counter}}">view definition</button></td>
                    <td>{% for link in definition.proof_definition_link_set.all %}
                          {% proof_index link.proof as proofindex %} 
                            <a href="{% url 'theorems:theorem_proof' link.proof.theorem.id proofindex %}">proof {{proofindex}}</a> of {{ link.proof.theorem.theorem_name }}
                              {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                    </td>
                {% endfor %}
                
                {% else %} 
                <tr><td></td><td></td><td></td><td></td></tr>
                {% endif %}
		</tbody>
              </table>
	      {% if definitions %}
              {% for definition in definitions %}
                <!-- Modal -->
		<div id="myModal{{forloop.counter}}" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">{{definition.definition_name}}</h4>
		      </div>
		      <div class="modal-body">
			<p class="markdown">{{definition.definition}}</p>
		      </div>
		      <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>
		{% endfor %}
	      {% endif %}
            </main>
        </div> <!-- div.wrapper -->
        <footer>
            Footer
        </footer>
    </div> <!-- div.container -->
    <script>
    $(document).ready(function() {
        $('#defTable').DataTable({
            "lengthMenu": [10,25,50],
            "pagingType": "full_numbers"
        });
    });
    </script>
</body>    
</html>
