{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>index</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_SVG'&delayStartupUntil=configured'> <!-- delay start until markdown is processed -->
        MathJax.Hub.Config({
            extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
            jax: ["input/TeX", "output/SVG"],
            SVG: {
                     font:"STIX-web"
            },
            tex2jax: { 
                inlineMath:  [ ['$','$']     ,['{$','$}']     , ['\\(','\\)'] ], 
                displayMath: [ ['$$','$$'] ,['{$$','$$}'] , ['\\[','\\]'] ],
                processEscapes: true 
            },
            TeX: {
                extensions: ["AMSmath.js", "AMSsymbols.js"],
                Macros: {
                R: "{\\mathbb{R}}",
                bold: ["{\\bf #1}",1],
                C: "{\\mathbb{C}}",
                N: "{\\mathbb{N}}",
                Z: "{\\mathbb{Z}}",
                ds: "\\displaystyle",
                textdef: ["\\textit{#1}",1],
                emph: ["\\textit{#1}",1]
                }
            }
        });
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="{% static 'theorems/marked/marked.min.js' %}"></script>
    <script src="{% static 'thoerems/javascripts.js' %}"></script>
    <link rel='stylesheet' href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"/>
    <link rel='stylesheet' href='{% static "theorems/style.css" %}' />
</head>
<body class='homepage'>
    <div class='container-fluid'>
        <nav class='navbar navbar-inverse'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        </button>
            </div> <!--navbar-header -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                   <li><a href='{% url 'theorems:index' %}'><span class='glyphicon glyphicon-home'></span></a></li>
                   <li class='active'><a href='{% url 'theorems:subjects' %}'>Subjects</a></li>
                   <li> <a href='{% url 'theorems:definitions' %}'>Definitions</a></li>
                   <li> <a href='{% url 'theorems:theorems' %}'>Theorems</a></li>
                   <li> <a href='{% url 'theorems:questions' page_num=1 %}'>Questions</a></li>
                </ul>
            </div> <!-- navbar -->
        </nav>
        <header>
            Math Review
        </header>
        <div class='wrapper'>
            <main>
                <h3 class='center'>{% if subject_name %} {{ subject_name }} {% endif %} Theorems</h3>
                <table id="thrmTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
		  <tr>
		    <th>theorem</th>
		    <th>keywords</th>
		    <th>statement</th>
		    <th>proof</th>
		  </tr>
		</thead>
		<tfoot>
                  <tr>
		    <th>theorem</th>
		    <th>keywords</th>
		    <th>statement</th>
		    <th>proof</th>
		  </tr>
		</tfoot>
		<tbody>
                  {% if theorems %}
		  {% for theorem in theorems %}
                  <tr>
		    <td>{{theorem.theorem_name}}</td>
		    <td>{% for item in theorem.theorem_keyword_link_set.all %}{{ item.keyword.keyword_text }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
		    <td class="markdown">{{theorem.theorem_statement.theorem_statement}}</td>
		    <td>{% for proof in theorem.theorem_proof_set.all %}
                         <a href= "{% url 'theorems:theorem_proof' theorem.id forloop.counter %}">proof {{forloop.counter}}</a>{% if not forloop.last %}, {% endif %}
                         {% endfor %}
		    </td>
		  </tr>
		  {% endfor %}
		  {% endif %}
		</tbody>
	      </table>
            </main>
        </div> <!-- div.wrapper -->
        <footer>
            Footer
        </footer>
    </div> <!-- div.container -->
    <script>
    $(document).ready(function() {
        $('#thrmTable').DataTable({
            "lengthMenu": [10,25,50],
            "pagingType": "full_numbers"
        });
    });
</script>
</body>    
</html>
