<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>index</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'></script> <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_SVG'>
        MathJax.Hub.Config({
            extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
            jax: ["input/TeX", "output/SVG"],
            SVG: {
                     font:"STIX-web"
            },
            tex2jax: { 
                inlineMath:  [ ['$','$']     ,['{$','$}']     , ['\\(','\\)'] ], 
                displayMath: [ ['$$','$$'] ,['{$$','$$}'] , ['\\[','\\]'] ],
                processEscapes: true 
            },
            TeX: {
                extensions: ["AMSmath.js", "AMSsymbols.js"],
                Macros: {
                R: "{\\mathbb{R}}",
                bold: ["{\\bf #1}",1],
                C: "{\\mathbb{C}}",
                N: "{\\mathbb{N}}",
                Z: "{\\mathbb{Z}}",
                ds: "\\displaystyle",
                textdef: ["\\textit{#1}",1],
                emph: ["\\textit{#1}",1]
                }
            }
        });
    </script>
	{% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='{% static "theorems/style.css" %}' />
</head>
<body class='homepage'>
    <div class='container-fluid'>
        <nav class='navbar navbar-inverse'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        </button>
            </div> <!--navbar-header -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                   <li><a href='{% url 'theorems:index'  %}'><span class='glyphicon glyphicon-home'></span></a></li>
                   <li><a href='{% url 'theorems:subjects'  %}?page=1'>Subjects</a></li>
                   <li> <a href='{% url 'theorems:definitions'  %}?page=1'>Definitions</a></li>
                   <li class='active'> <a href='{% url 'theorems:theorems'  %}?page=1'>Theorems</a></li>
                   <li> <a href='{% url 'theorems:questions'  %}?page=1'>Questions</a></li>
                </ul>
            </div> <!-- navbar -->
        </nav>
        <header>
            Math Review
        </header>
        <div class='wrapper'>
            <main>
                <h3 class='center'>Theorems</h3>
                {% if theorems %}
                <ul>
                {% for theorem in theorems %}
                    {% with subject=theorem.subject %}
                    <li> {{ theorem.theorem_name }} (<a href="{% url 'theorems:subjects' %}?id={{subject.id}}#sub{{subject.id}}">{{ subject.subject_name }}</a>)
                     {% endwith %}
                        <ul>
                            <li>{{ theorem.theorem_statement|safe  }}</li>
                                {% with proof_total=theorem.theorem_proof_set.all.count %}
                                    {% if proof_total > 0 %}
                            <li><a href= "{% url 'theorems:theorem_proof' theorem.id %}">view proof{{ proof_total|pluralize }}</a></li>
                                    {% endif %}
                                {% endwith %}
                            
                            {% for item in theorem.theorem_keyword_link_set.all %}
                                {% if forloop.first %}
                            <li> Keywords:
                                {% endif %} 
                                {{ item.keyword.keyword_text }}{% if not forloop.last %}, {% else %}</li> {% endif %} 
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                    <div>There are no theorems to display</div>
                {% endif %}
            
              {% if theorems.has_other_pages %} 
                {% if theorems.has_previous %}
                <ul class="paging text-center">
                    <li><a class="btn btn-default" href="?page={{theorems.previous_page_number}}"><span class="glyphicon glyphicon-chevron-left"></span>Previous</a></li>
                
                {% else %}
                <ul class="paging text-center">
                    <li><a class="btn btn-default disabled" href="#"><span class="glyphicon glyphicon-chevron-left"></span>Previous</a></li>
                
                {% endif %}


                {% if theorems.has_previous %}
                  {% if theorems.previous_page_number|add:"-2" > 1 %}
		      <li><a href="?page=1">1</a></li>
                      <li>...</li>
		      <li><a href="?page={{theorems.previous_page_number|add:'-1'}}">{{theorems.previous_page_number|add:"-1"}}</a></li>
		      <li><a href="?page={{theorems.previous_page_number}}">{{theorems.previous_page_number}}</a></li>
			      
		  {% elif theorems.previous_page_number|add:"-1" > 1 %}
		      <li><a href="?page=1">1</a></li>
		      <li><a href="?page={{theorems.previous_page_number|add:'-1'}}">{{theorems.previous_page_number|add:"-1"}}</a></li>
		      <li><a href="?page={{theorems.previous_page_number}}">{{theorems.previous_page_number}}</a></li>
				      
		  {% elif theorems.previous_page_number > 1 %}
		      <li><a href="?page=1">1</a></li>
		      <li><a href="?page={{theorems.previous_page_number}}">{{theorems.previous_page_number}}</a></li>
					
		  {% else %}
		      <li><a href="?page=1">1</a></li>
                  {% endif %}
                {% endif %}

                      <li><a class='disabled btn btn-link' href="#">{{theorems.number}}</a></li>  
                  

                {% if theorems.has_next %}
                  {% if theorems.next_page_number|add:"2" < theorems.paginator.num_pages %} 

		      <li><a href="?page={{theorems.next_page_number}}">{{theorems.next_page_number}}</a></li>
		      <li><a href="?page={{theorems.next_page_number|add:'1'}}">{{theorems.next_page_number|add:"1"}}</a></li>
		      <li>...</li>
		      <li><a href="?page={{theorems.paginator.num_pages}}">{{theorems.paginator.num_pages}}</a></li>

		  {% elif theorems.next_page_number|add:"1" < theorems.paginator.num_pages %}
                      <li><a href="?page={{theorems.next_page_number}}">{{theorems.next_page_number}}</a></li>
		      <li><a href="?page={{theorems.next_page_number|add:'1'}}">{{theorems.next_page_number|add:"1"}}</a></li>
		      <li><a href="?page={{theorems.paginator.num_pages}}">{{theorems.paginator.num_pages}}</a></li>

		  {% elif theorems.next_page_number < theorems.paginator.num_pages %}
                      <li><a href="?page={{theorems.next_page_number}}">{{theorems.next_page_number}}</a></li>
		      <li><a href="?page={{theorems.paginator.num_pages}}">{{theorems.paginator.num_pages}}</a></li>
                  {% else %}
                        <li>{{ theorems.num_pages }}</li>
                      <li><a href="?page={{theorems.paginator.num_pages}}">{{theorems.paginator.num_pages}}</a></li>
                  {% endif %}															
                {% endif %}

                {% if theorems.has_next %}
                    <li><a class="btn btn-default" href="?page={{theorems.next_page_number}}">Next<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
                {% else %}
                    <li><a class="disabled btn btn-default" href="#">Next<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
                {% endif %}
              {% endif %}
            </main>
        </div> <!-- div.wrapper -->
        <footer>
            Footer
        </footer>
    </div> <!-- div.container -->
</body>    
</html>
